{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="calendar-container">
            {% include 'calendar/_calendar.html.twig' %}
        </div>
    </div>
{% endblock %}