button {
    background: transparent;
    border: 0;
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 16px;
    margin: 20px;
    padding: 0 16px;
    border: 1px solid rgb(255 255 255 / 8%);
    backdrop-filter: blur(20px);
}

.sidebar header {
    display: flex;
    align-items: center;
    height: 72px;
    padding: 0 20px 0 0;
}

.sidebar header button {
    width: 52px;
}

.sidebar button {
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    height: 50px;
    width: 100%;
    border-radius: 6px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding: 0 12px 0 16px;
    color: rgb(255 255 255 / 95%);
}

.sidebar button p:nth-child(2) {
    flex: 1 1 auto;
}

.sidebar button:is(.active, :hover) {
    background: rgb(0 0 0 / 30%);
}

.sidebar button i {
    transition: 0.3s;
}

.sidebar button.active > i:nth-child(3) {
    rotate: -180deg;
}

.sidebar button:not(.active):hover {
    background: rgb(0 0 0 / 10%);
}

.sidebar ul {
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sub-menu {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}

.sub-menu ul {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
}

.sub-menu button {
    padding-left: 52px;
}

.sub-menu button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 24px;
    translate: 0 -50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 35%);
}

.sidebar i {
    font-size: 20px;
    width: 20px;
    max-width: 20px;
    min-width: 20px;
}
