body {
    font-family: "Roboto", sans-serif;
    margin: auto;
    overflow: auto;
    background: linear-gradient(
        315deg,
        rgb(37, 102, 37) 3%,
        rgb(21, 37, 25) 3%
    );
    animation: gradient 45s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    color: white;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.app-layout {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px auto;
}

#calendar-container {
    position: relative;
    min-height: 200px;
}

.container {
    margin: 0 auto;
    width: 1400px;
}

.calendar-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.calendar-nav {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 2%);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(255 255 255 / 8%);
    border-radius: 8px;
}

.calendar-nav:hover {
    background: rgb(255 255 255 / 8%);
    backdrop-filter: blur(20px);
}

.calendar-nav a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 120px);
    gap: 10px;
}

.calendar-header {
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.day {
    padding: 20px;
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(255 255 255 / 8%);
    text-align: center;
    border-radius: 8px;
    transition: all 0.2s;
    height: 76px;
}

.day:hover {
    background-color: #ccc;
    font-weight: bold;
    transform: scale(1.05);
    cursor: pointer;
    user-select: none;
}

.day.empty {
    background: rgb(0 0 0 / 2%);
    backdrop-filter: blur(20px);
    border: 1px solid rgb(255 255 255 / 8%);
}

.is-today {
    background-color: #ffd700;
    font-weight: bold;
    border: 2px solid #ffa500;
}

.is-today:hover {
    transform: scale(1.1);
    background-color: #ffa500;
}
