version: "3.8"

services:
    web:
        build: .
        ports:
            - "8080:80"
        volumes:
            - ../.:/var/www/html
        depends_on:
            - database

    database:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: symfony_db
        ports:
            - "3307:3307"
